playwright-log.txt
output.html
output.xml
log.html
reports/log.html
report.html
reports
.venv
.DS_Store
*.png
browser
.vscode/plugins.json
!.vscode/settings.json
!.vscode/extensions.json
.vscode/launch.json
.
.vscode
.pabotsuitenames
